<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdoptOpenJDK_UpdateWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AdoptOpenJDK_UpdateWatcher.Properties.Settings>
            <setting name="isConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalInstallationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="useJavaHome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doNOTuseJavaHome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UI_JVM_Implementation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UI_JVM_ImageType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastSkippedRelease" serializeAs="String">
                <value />
            </setting>
            <setting name="API_MajorVersion" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="API_Architecture" serializeAs="String">
                <value />
            </setting>
            <setting name="API_OS" serializeAs="String">
                <value />
            </setting>
            <setting name="API_Heap" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskCreated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstSilentRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForSelfUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelfUpdatesAPI" serializeAs="String">
                <value>https://api.github.com/repos/tushev/aojdk-updatewatcher/releases/latest</value>
            </setting>
        </AdoptOpenJDK_UpdateWatcher.Properties.Settings>
    </userSettings>
</configuration>