<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AJ_UpdateWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AJ_UpdateWatcher.Properties.Settings>
            <setting name="isConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstSilentRunMessageHasBeenDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForSelfUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelfUpdatesAPI" serializeAs="String">
                <value>https://api.github.com/repos/tushev/aojdk-updatewatcher/releases/latest</value>
            </setting>
            <setting name="SettingsFormatVersion" serializeAs="String">
                <value>2.0.1.0</value>
            </setting>
            <setting name="SettingsUpgradeComplete_from_V1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserConfigurableSetting_MaxConcurrentMSIDownloads"
                serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ErrorsEncounteredSinceLastConfigurationWindowOpened"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserConfigurableSetting_WarnIfNUpdateChecksResultedInErrors"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UserConfigurableSetting_UseRandomPrefixForDownloadedMSIs"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserConfigurableSetting_PostUpdateCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="UserConfigurableSetting_UseTrayNotificationForBackgroundCheck"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JavaHomeWarningHasBeenDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoWarrantiesDisclaimerHasBeenDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <!--<setting name="ProxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyHostName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyBypassOnLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyUseDefaultCredentials" serializeAs="String">
                <value>False</value>
            </setting>-->
        </AJ_UpdateWatcher.Properties.Settings>
    </userSettings>
</configuration>